.App-header {
  background-color: #fcfcfc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: rgb(112, 120, 168);
}

.App-link {
  color: #61dafb;
}
.board{
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  margin-top: 1.5rem;
  width: 60%;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 0.5rem;
  padding-bottom: 1.5rem;
  
}

.input{
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  height: 40px;
  margin-bottom: 1.5rem ;
  border-radius: 15px;
}

.list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 10px;
  margin-top: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  background: #fff;
}

.checkbox{
  margin-right:1rem;
}


.list:hover
.list:active{
  border: solid red;
  background-color: red;
}

.inputArea{
  width: 80%;
  border-radius: 5px;
  background: #fff;
  color: #555;
  border: none;
  outline: none;
  border: 2px solid #ccc;
  box-shadow:  0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-right: 20px;
  padding: 0px 14px;
  font-size: 16px;
}

.button{
  width: 8rem;
  border-radius: 5rem;
  border: none;
  cursor: pointer;
  background: #269ED5;
  color: #fff;
}

.button:hover,
.button:active{
  background: rgba(38,158,213,.8);
}

.list_text{
  font-family: 'Open Sans', sans-serif;;
  color:black;
  font-size: medium;
}
.action{
  display: flex;
  align-items: center;
}

.button__edit{
  width: 5rem;
  margin: 5px;
  border: none;
  color: #000000;
  cursor: pointer;
  background-color: rgb(240, 240, 240);
  border-radius: 4px;
  padding: 5px 10px;
}

.button__edit:hover,
.button__edit:active{
  background-color: rgb(192, 192, 192);
}

.button__delete{
  padding: 5px 10px;
  width: 5rem;
  background-color: #e84b63;
  cursor: pointer;
  border: unset;
  border-radius: 4px;
  color: #fff;
}
.button__delete:hover,
.button__delete:active{
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: rgba(232, 75, 99,.8);
   border: none; 
   border-radius: 4px;
}

